.container {
 border: 2px solid black;
 background-color: green;
 display: inline-block;
}

#message_body {
 width: 99%;
 height: 80%;
 border: 1px solid black;
 background-color: white;
 overflow-y: auto;
 overflow-x: none;
}

label {
 color:white;
}

input#msg {
  width:85%;
}

input#name_in {
  width:100px;
}

b {
 color: red;
}


